{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1>Welcome, {{ current_user.username }}</h1>

<p>
    <a class="btn" href="{{ url_for('add_workout') }}">
        Add New Workout
    </a>
</p>

{% if workouts %}
<div class="workout-grid">

{% for workout in workouts %}
<div class="card">

    <h3>{{ workout.title }}</h3>

    <p><strong>Type:</strong> {{ workout.workout_type }}</p>
    <p><strong>Duration:</strong> {{ workout.duration_minutes }} mins</p>
    <p><strong>Calories:</strong> {{ workout.calories_burned }}</p>
    <p>{{ workout.notes }}</p>

    <a class="btn"
       href="{{ url_for('edit_workout', workout_id=workout.id) }}">
       Edit
    </a>

    <form method="POST"
          action="{{ url_for('delete_workout', workout_id=workout.id) }}">

        <button type="submit">Delete</button>
    </form>

</div>
{% endfor %}

</div>

{% else %}
<p>No workouts logged yet.</p>
{% endif %}

{% endblock %}